<h1><%= @title%></h1>
<p>I'm Mathieu Robert and here's some infos about me :<br/>
	<ul>
		<li>Last Name : Robert</li>
		<li>First Name : Mathieu</li>
		<li>Birth date : august 4th 1992</li>
		<li>Currently living : Normandy, France</li>
		
	</ul>
	
	</p>
